@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&family=Open+Sans&family=Yanone+Kaffeesatz:wght@200&display=swap");

.profile-img {
  border-radius: 20px;
  padding: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-div {
  height: 100vh;
}

.about-me {
  font-family: courier !important;
}

.tech-cons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
