

/* header settings for each project */
h3 {
    font-size: 45px;
    font-family: "Chau Philomene One", sans-serif;
    color: rgb(255, 225, 194);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(6, 6, 6);
    text-shadow: 1px 1px 1px rgb(19, 16, 16);
    font-weight: bolder;
  }

  /* p {
    font-size:;
  } */