
.indent {
    color: gold;
    text-shadow: 3px 3px 3px rgb(19, 16, 16)
                    1px 2px 2px;
}

.home-div {
    height: 100vh;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
    /* display: flex !important; */
    /* flex-direction: column; */
    /* flex-wrap: wrap !important; */

}

.objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

blockquote {
    position: relative;
}