@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

/* Name properties */
h1 {
    font-size: 63px;
    padding: 10px;
    /* color: rgb(240, 206, 170); */
    color: rgb(228, 215, 255);
    text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
      -1px -1px 1px #000;
      font-family: 'Yanone Kaffeesatz', sans-serif;
  }

  /* Job Title settings */
.logo {
  font-size: 40px;
  padding: 10px;
  color: rgb(223, 208, 240);
  text-shadow: 4px 4px 4px black, -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
  margin-left: 7%;
}
/* sets different style between subheading */
.subtitle {
  font-size: 40px;
  padding: 10px;
  color: rgb(255, 240, 203);
  /* color: rgba(136, 213, 145, 0.803); */
  text-shadow: 4px 4px 4px black, -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px rgb(223, 208, 240);
}