/* Properties for navbar */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100vh;
  font-size: 2rem !important;
}

.navbar-toggler-icon {
  color: black !important;
}

#side-nav .navbar-toggler-icon {
  outline-color: #355d6a;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: right !important;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}
